# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
low-level/PFB_radioastronomie/x64/Debug/*
low-level/PFB_radioastronomie/.vs/*
low-level/PFB_radioastronomie/x64/*
low-level/PFB_radioastronomie/PFB_radioastronomie/x64/*
low-level/PFB_radioastronomie/CPFB-Test/x64/*
high-level/ref_impl/testFFT/.vs/*
